@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #3c3c3c; }

body {
  position: relative; }

#scroll-icon {
  margin-top: 180px;
  width: 23px; }

.scroll-icon {
  fill: #fff; }

@-webkit-keyframes scroll-animation {
  0% {
    opacity: 1; }
  50% {
    trasnform: translateY(-16px);
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    opacity: 0; } }

@keyframes scroll-animation {
  0% {
    opacity: 1; }
  50% {
    trasnform: translateY(-16px);
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    opacity: 0; } }
.scroll-circle {
  -webkit-animation: scroll-animation 2s ease-out infinite;
          animation: scroll-animation 2s ease-out infinite; }

.header {
  width: 100%;
  min-height: 100vh;
  background-color: #aab5ca;
  background-image: url("../img/hero-scene.jpg");
  background-size: cover;
  background-position: center; }
  .header .items-column {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .header .logo {
    width: 65px;
    height: auto;
    margin-bottom: 94px; }
  .header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 80px;
    margin-bottom: 26px;
    letter-spacing: 3px;
    font-weight: 700; }
  .header p {
    color: #fff;
    font-size: 15px;
    line-height: 39px;
    letter-spacing: 1px;
    font-weight: 400; }

.boxed {
  border: 2px #3c3c3c solid;
  max-width: 900px;
  margin: 120px 20px;
  padding: 0 60px 30px; }
  .boxed h3 {
    font-size: 34px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #fff;
    width: 420px;
    font-weight: 700;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    letter-spacing: 2px; }
  .boxed p {
    font-size: 16px;
    font-weight: 300px; }

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.services {
  width: 100%;
  background-color: #aab5ca;
  background-image: url("../img/services.jpg");
  background-size: cover;
  background-position: center;
  text-align: center; }
  .services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .services .bg-box {
    margin: 120px 20px;
    max-width: 900px;
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid; }
  .services h3 {
    font-size: 34px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 900px;
    font-weight: 700;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    letter-spacing: 2px; }
    .services h3::before {
      content: '';
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0 115px 0 0;
      border: 1px #fff solid; }
    .services h3::after {
      content: '';
      display: block;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0 0 0 115px;
      border: 1px #fff solid; }
  .services p {
    font-size: 16px;
    font-weight: 300px;
    padding: 30px 60px;
    color: #fff; }

.what-we-do .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
.what-we-do .icons {
  margin-top: 70px; }
  .what-we-do .icons:last-child {
    margin-bottom: 40px; }
  .what-we-do .icons img {
    margin-bottom: 24px;
    transition: .8s;
    width: 80px;
    height: auto; }
  .what-we-do .icons h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 24px;
    text-transform: uppercase; }
  .what-we-do .icons p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 60px; }

.icons:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px; }
  .buttons-container .service {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 235px;
    background-size: cover;
    background-position: center;
    transition: 1s;
    position: relative; }
    .buttons-container .service:hover {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    .buttons-container .service h4 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 0 10px 20px;
      letter-spacing: 3px;
      font-size: 34px;
      position: absolute;
      position: absolute;
      bottom: 0;
      left: 0; }
  .buttons-container .service-1 {
    background-image: url("../img/services-1.jpg"); }
  .buttons-container .service-2 {
    background-image: url("../img/services-3.jpg");
    margin: 0 6px; }
  .buttons-container .service-3 {
    background-image: url("../img/services-2.jpg"); }
  .buttons-container .service-4 {
    background-image: url("../img/services-4.jpg"); }
  .buttons-container .service-5 {
    background-image: url("../img/services-5.jpg");
    margin: 0 6px; }
  .buttons-container .service-6 {
    background-image: url("../img/services-6.jpg"); }

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.btn-themed {
  display: inline-block;
  margin: 20px 0;
  border: none;
  border-radius: 0;
  background-color: #3c3c3c;
  padding: 15px 100px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  transition: .5s; }
  .btn-themed:hover {
    background-color: #aab5ca; }

footer {
  text-align: center;
  margin-bottom: 10px; }
  footer p {
    display: inline-block; }
  footer img {
    display: inline-block;
    margin-right: 30px; }

@media (max-width: 767px) {
  .boxed {
    margin: 120px 20px;
    padding: 0 20px 30px; }
    .boxed h3 {
      padding: 0 30px;
      width: auto;
      letter-spacing: 0; }

  .services .bg-box {
    margin: 120px 20px;
    max-width: 900px; }
  .services h3::before {
    margin: 0 30px 0 0; }
  .services h3::after {
    margin: 0 0 0 30px; }
  .services p {
    font-size: 16px;
    font-weight: 300px;
    padding: 30px 20px;
    color: #fff; }

  .what-we-do .icons p {
    padding: 0 20px; }

  .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0; }
    .buttons-container .service {
      margin: 6px 0 0; }
    .buttons-container .service-2 {
      margin: 6px 0 0; }
    .buttons-container .service-5 {
      margin: 6px 0 0; }

  .btn-themed {
    padding: 15px 30px; } }

/*# sourceMappingURL=style.prefixed.css.map */